img {
  width: 900px;
}
body{
  text-align: center;
  color: orange;
  font-size: 20px;
}

h1 {
  color: orange;
  font-size: 75px;
}

h2 {
  color: blue;
  font-style: italic;
  font-size: 45px;

}

p.intro {
  font-family: cursive;

}
 p.body {
   font-size: 30px;
   color: purple;
   font-family: arial;
 }

p.summary {
  font-family: arial;
  color: gray;
}
